body {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    background-image: url(../img/02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.user-form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-form .user-label,
.user-form .label-pass {
    position: relative;
    left: 10px;
    font-size: 20px;
}

.user-form #user-input,
.user-form #pass {
    font-weight: bold;
    font-size: 20px;
    border: 2px solid #fff;
    padding: 15px 20px;
    border-radius: 15px;
    outline: none;
    transition: 0.3s;
}
.user-form #user-input:hover,
.user-form #pass:hover {
    box-shadow: 2px 2px 20px 5px #01fdff8f;
}
.checker,
.checker-pass {
    text-align: right;
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 20px;
}

#btn-login {
    width: fit-content;
    padding: 10px 15px;
    text-align: center;
    margin-top: 15px;
    border-radius: 15px;
    background: #000000;
    border: 2px solid black;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}
#btn-login:hover {
    scale: 1.2;
}
